*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
app/release/
*.apk
*.aab
*.ap_
*.dex

# JVM crash dumps
hs_err_pid*.log
replay_pid*.log
